@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    font-family: "Lato", sans-serif; /* Fallback fonts are recommended */
    margin: 0;
    padding: 0;
}

:root{
    --item1-transform: translate(100%, -5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translate(0, 0);
    --item2-filter: blur(0);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%, 10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%, 20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
}

h1 {
    font-size: 30pt;
    padding: 0 !important;
    margin-top: 5pt !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Krona One", sans-serif;
}

.navbar {
    z-index: 2;
    background: rgba(250, 253, 255, 0.3) !important;
    padding: 1pt 30pt;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: 0 10pt;
}

#navbarSupportedContent {
    justify-content: end;
}

.navbar-brand {
    color: #fff !important;
}

#arcaneBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* z-index: 1; */
}


section {
    /* z-index: 2; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

section .row{
    width: 90%;
}

section > * {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#intro {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    background: url("../img/backgrounds/main_bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
    
.intro-wrapper {
    height: 75vh;
    color: #cccaca;
}

.intro-content {
    padding: 5pt 15pt;
    min-height: 80vh;
}

.intro-content h1 {
    margin-bottom: 20pt;
}

.intro-content .btn {
    margin-top: 10px;
}

#intro-1 {
    border-bottom-left-radius: 50px;
    position: relative;
}

#intro-2 {
    border-top-right-radius: 50px;
    min-height: 75vh;
}

.rounded-custom {
    border-radius: 20px;
}

.header {
    color: #7f003f;
    font-weight: bold;
}

#generation1 {
    background: url("../img/backgrounds/cave.jpg");
    background-size: cover;
    background-color: #ffffff;
    color: #fff;
}

.header2 {
    color: #fff;
    font-weight: bold;
}

/* carousel*/
.carousel {
    margin-top: 130pt;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.carousel .list {
    position: absolute;
    top: 0;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
}

.carousel .list .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    font-size: 15px;
}

.carousel .list .item img {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .list .item .introduction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    opacity: 0;
    pointer-events: none;
}

.carousel .list .item:nth-child(2) .introduction {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}

.carousel .list .item:nth-child(n+6){
    opacity:0;
    pointer-events: none;
}

.carousel .list .item:nth-child(2) {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    z-index: var(--item2-zIndex);
    opacity: var(--item2-opacity);
}

.carousel .list .item:nth-child(1) {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}

.carousel .list .item:nth-child(3) {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
    opacity: var(--item3-opacity);
}

.carousel .list .item:nth-child(4) {
    transform: translate(90%, 20%) scale(0.5);
    filter: blur(30px);
    z-index: 1;
    opacity: 8;
}

/*arrows*/

.arrows {
    position: absolute;
    bottom: 10px;
    width: 1140px;
    max-width: 90%;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows .btn {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    color: #333;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.vandals {
    position: absolute;
}

#follow {
    bottom: 130px;
    left: 35%;
}
